.popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 19;
    display: flex;
    place-content: center;
}

.popup-inner {
    position: absolute;
    box-sizing: border-box;
    margin: 5%;
    padding-top: 1em;
    top: 20%;
    width: 90%;
    background: #764f3d;
    color: white;
    z-index: 20;
    border-radius: 5px;
    border: 3px solid #9f693f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bar {
    position: absolute;
    top: -1.25em;
    margin: 0 0.7em;
}

.troupe-name {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: -1.7em;
    text-align: center;
}

.troupe-icon {
    margin: 1em;
}

.bottom-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.7em;
    padding-top: 1.4em;
}

.middle-popup {
    padding: 0.7em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-popup .icon-troupe {
    font-size: 0.95em;
    width: 5.2em;
}