.screen {
    box-sizing: border-box;
    width: 25em;
    max-height: 760px;
    background-color: rgba(165, 165, 165, 0.527);
    position: relative;
    display: flex;
    flex-direction: column;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: blur(4px);
}

/*.Background{
    background-image: url("/images/380883.jpg");
}*/ 
