.icon-troupe {
    width: 4.75em;
    height: 4.75em;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);    
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    cursor: pointer;
    filter: drop-shadow(5px 5px 4px black);
}

.icon-troupe img {
    position: absolute;
    top: -0.80em;
    left: -0.60em;
}

.level {
    position: absolute;
    z-index: 3;
    font-size: 0.8em;
    padding: 0.1em 0.3em;
    width: 60%;
    bottom: 0;
    color: white;
    background-color: rgba(139, 0, 93, 0.61);
}