.popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 4;
    display: flex;
    place-content: center;
}

.popup-inner {
    position: absolute;
    margin: 5%;
    width: 90%;
    height: 10em;
    background: #764f3d;
    color: white;
    z-index: 5;
    border-radius: 5px;
    border: 3px solid #9f693f;
}