@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap');

.titre-troupes {
    display: flex;
    place-content: center;
}

.titre-troupes p {
    width: 95%;
    margin: 0;
    margin-bottom: 0.3em;
    font-size: 0.9em;
    color: white;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 0.2em;
    text-align: center;
    border-radius: 7px;
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);    
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

.troupes-disponibles {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,134,199,1) 0%, rgba(56,119,166,1) 100%);
}

.troupes {
    display: flex;
    flex-wrap: wrap;
}

.troupes > div:not(.popup):not(.popup-inner) {
    margin: 0.5em 0 0 0.5em;
}