.deck {
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.deck .icon-troupe, .deck .icon-vide {
    width: 4.3em;
    height: 4.3em;
    cursor: unset;
}

.bg-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.bg-bottom {
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    z-index: 2;
}