.tab-item {
    position: relative;
    width: 50%;
    height: 3.5em;
    z-index: 9;
    top: -0.3em;
    list-style: none;
    cursor: pointer;
}

.tab-item p {
    position: absolute;
    z-index: 10;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    filter: drop-shadow(0px 0px 1px black);
}

.tab-item img {
    position: absolute;
    width: 100%;
    z-index: 9;
}